@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap');

:root {
    --red: #e40203;
    --orange: #ff8c01;
    --yellow: #feed01;
    --green: #007f24;
    --blue: #004dff;
    --purple: #790589;
    --lightblue: #9ad5f3;
    --lightpink: #e9abb8;
    --p1-dark: #2d2d2d;
    --p1-light: #fefefe;
}

/* Globals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Overflow-y set to auto to counteract always visible scrollbar set via Bulma */
    overflow-y: auto;
}

body {
    background-color: var(--p1-dark);
    color: var(--p1-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    /* Navbar */
.navbar {
    width: 100%;
}

.navbar-item>img {
    max-height: 5em;
    padding-bottom: 10px;
}

.navbar-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    color: var(--p1-dark);
}

.navbar-burger:hover, .navbar-burger:active, .navbar-burger:focus {
    background-image: linear-gradient(90deg,
        var(--p1-light), var(--p1-light), var(--p1-light),
        var(--red), var(--red),
        var(--orange), var(--orange),
        var(--yellow), var(--yellow),
        var(--green), var(--green),
        var(--blue), var(--blue),
        var(--purple), var(--purple),
        var(--p1-light), var(--p1-light), var(--p1-light)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--p1-dark);
}

.fa-flag {
    background-image: linear-gradient(90deg,
        var(--p1-dark), var(--p1-dark),
        var(--p1-dark), var(--p1-dark),
        var(--red), var(--red),
        var(--orange), var(--orange),
        var(--yellow), var(--yellow),
        var(--green), var(--green),
        var(--blue), var(--blue),
        var(--purple), var(--purple)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scaleX(-1);
}

.button-text::after {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--p1-dark);
    background-image: linear-gradient(90deg,
        var(--lightblue) 0, var(--lightblue) 20%,
        var(--lightpink) 20%, var(--lightpink) 40%,
        var(--p1-light) 40%, var(--p1-light) 60%,
        var(--lightpink) 60%, var(--lightpink) 80%,
        var(--lightblue) 80%, var(--lightblue) 100%
    );
}

/* Footer */

footer {
    background-color: var(--p1-light);
    min-width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.footer-m {
    margin: 1.5rem auto 1rem;
}

.fa-github.member1 {
    color: var(--red);
}

.fa-github.member2 {
    color: var(--orange);
}

.fa-github.member3 {
    color: var(--purple);
}

.fa-github.member4 {
    color: var(--green);
}

.fa-github.member5 {
    color: var(--blue);
}

.fa-github {
    transition: all .2s ease-in-out; 
}

.fa-github:hover {
    transform: scale(1.2);
}

.policy_link {
    transition: all .2s ease-in-out; 
    color:black;
}

.policy_link:visited {
    color:black;
}

.policy_link:hover {
    transform: scale(1.5);
    font-weight: bold;
}

/* Utility classes */

.pad-left-sm {
    padding-left: 10px;
}

/* Bulma Overrides */

.title {
    color: var(--p1-light);
}

/* Landing Page */

.full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#landing-title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 600%;
    user-select: none;
}

#chevron-checkbox {
    display: none;
}

.fa-heart {
    font-size: 4rem;
    transition: all .35s ease-in-out;
}

.fa-heart:hover {
    transform: scale(1.5);
    background-image: linear-gradient(90deg,
            var(--red), var(--red),
            var(--orange), var(--orange),
            var(--yellow), var(--yellow),
            var(--green), var(--green),
            var(--blue), var(--blue),
            var(--purple), var(--purple)
            );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#chevron-checkbox:checked ~ .chevron-checkbox-label>.fa-heart {
    transform: scale(1000);
    opacity: 0;
}

/*-------------- Flags page ----------------*/

.container-flag-intro{
    margin: 0 auto;
}
/* Home page */
.card-mission-1 {
    background-color: var(--red);
    color: white;
}

.card-mission-2 {
    background-color: var(--orange);
    color: black;
}

.card-mission-3 {
    background-color: var(--yellow);
    color: black;
}

.card-mission-4 {
    background-color: var(--green);
    color: white;
}

.info_link
{
    transition: all .2s ease-in-out; 
    color:#FFFFFF;
}

.info_link:visited
{
    color:#FFFFFF;
}

.info_link:hover 
{
    transform: scale(1.5);
    font-weight: bold;
}

/* Flags page */

.container {
    width: 100%;
}

.flex-box-flag {
    width: 90%;
    height: 275px;
    margin-bottom: 25px;
}

/*Card flitp adapted from: https://3dtransforms.desandro.com/card-flip*/

.card-container {
    width: 100%;
    height: 100%;
    transition: transform .6s;
    transform-style: preserve-3d;
    position: relative;
}

.card-container:hover,
.card-container:active {
    transform: scale(.97);
    transition: transform .6s;
}

.card-container.is-flipped {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-back {
    overflow-y: auto;
    transform: rotateY(180deg);
}

.figure-flag{
    max-height: 200px;
    max-width: 350px;
    margin: 0 auto;
}

.image-flag{
    display: inherit;
}

/* privacy policy page*/
.pp-image {
    height: auto;
    width: 30%;
}

#fingerprint {
    height: 30%;
    width: 10%;
    float: right;
}

#playdough {
    height: 50%;
    width: 50%;
}

.w100 {
    width: 100%;
}

/* 404 page*/
.pokemon-image {
    height: auto;
    width: 50%;
}

.right {
    float: right;
}


/*-------------------- Support page ---------------------------*/

.about-bg-img{
    background-image: url("/static/images/support_about.jpg");
    background-color: #cccccc; 
    min-height: 350px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.btn-support{
    height: 55px;
}

.btn-support:hover{
    transform: scale(1.03);
    transition: transform 1.5s;
    background-color: var(--orange);
}

/* flickity small rounded square buttons*/
/*https://flickity.metafizzy.co/style.html*/
.p-advocate{
    margin-bottom: 25px;
}

.carousel-cell {
    width: 98%;
}

.flickity-prev-next-button {
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background: var(--p1-light);
}

.flickity-prev-next-button:hover {
    background: var(--orange);
}

/* position outside */
.flickity-prev-next-button.previous {
    left: 0px;
    top: -25px;
}

.flickity-prev-next-button.next {
    right: 10px;
    top: -25px;
}

.img-advocates{
    overflow: hidden;
    max-height: 175px;
    object-fit: cover;
}

/* 500 Page */
.error-500 {
    width: 40%;
}

/* Media Queries */

@media (min-width: 768px) {
    #landing-title {
        letter-spacing: 0.6ch;
        padding-left: 0.6ch;
    }

    .flex-box-flag {
        width: 45%;
        height: 300px;
    }
    /* carousel */
    .p-advocate{
        margin-bottom: 0px;
    }

    .carousel{
        padding-left: 25px;
    }
    .carousel-cell {
        width: 47%;
        height: auto;
    }
    .flickity-prev-next-button.previous {
        left: -15px;
        top: 45%;
    }

    .flickity-prev-next-button.next {
        right: -15px;
        top: 45%;
    }

    .img-advocates {
        height: 225px;
    }
}

@media (min-width: 1024px) {
    /* Navbar */
    .navbar-end>.navbar-item:not(:last-child)::after {
        content: '';
        display: inline-block;
        height: 2em;
        width: 2px;
        background-color: var(--p1-dark);
        margin-left: 1.5rem;
    }

    .navbar-burger {
        display: none;
    }

    /* Landing Page */
    #landing-title {
        letter-spacing: 1.2ch;
        padding-left: 1.2ch;
    }

    .flex-box-flag {
        width: 30%;
    }

    .content-container{
        margin-left: 15px;
    }
    
    /* carousel */
    .carousel{
        padding-left: 0px;
    }

    .carousel-cell {
        width: 31.5%;
    }
    
    .flickity-prev-next-button.previous {
        left: -45px;
    }  

    .flickity-prev-next-button.next {
        right: -45px;
    }
}

@media (min-width: 1216px) {
    #landing-title {
        letter-spacing: 2ch;
        padding-left: 2ch;
    }
}
