@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap');

:root {
    --red: #e40203;
    --orange: #ff8c01;
    --yellow: #feed01;
    --green: #007f24;
    --blue: #004dff;
    --purple: #790589;
    --p1-dark: #2d2d2d;
    --p1-light: #fefefe;
}

/* Globals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--p1-dark);
    color: var(--p1-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    height: 5em;
    width: 100%;
}

.navbar-item>img {
    width: 5em;
    max-height: 5em;
}

/* Landing Page */

.landing-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.landing-container h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 600%;
    user-select: none;
}

#chevron-checkbox {
    display: none;
}

.fa-chevron-down {
    font-size: 4rem;
    transition: all .35s ease-in-out;
}

.fa-chevron-down:hover {
    transform: scale(1.5);
    background-image: linear-gradient(90deg,
        var(--red), var(--red),
        var(--orange), var(--orange),
        var(--yellow), var(--yellow),
        var(--green), var(--green),
        var(--blue), var(--blue),
        var(--purple), var(--purple)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/* Media Queries */

@media (min-width: 768px) {
    .landing-container h1 {
        letter-spacing: 0.6ch;
        padding-left: 0.6ch;
    }
}

@media (min-width: 1024px) {
    .landing-container h1 {
        letter-spacing: 1.2ch;
        padding-left: 1.2ch;
    }

}

@media (min-width: 1216px) {
    .landing-container h1 {
        letter-spacing: 2ch;
        padding-left: 2ch;
    }
}