@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap');

:root {
    --red: #e40203;
    --orange: #ff8c01;
    --yellow: #feed01;
    --green: #007f24;
    --blue: #004dff;
    --purple: #790589;
    --p1-dark: #2d2d2d;
    --p1-light: #fefefe;
}

/* Globals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--p1-dark);
    color: var(--p1-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    height: 5em;
    width: 100%;
}

.navbar-item>img {
    width: 5em;
    max-height: 5em;
}

/* Landing Page */

.full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#landing-title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 600%;
    user-select: none;
}

#chevron-checkbox {
    display: none;
}

.fa-heart {
    font-size: 4rem;
    transition: all .35s ease-in-out;
}

.fa-heart:hover {
    transform: scale(1.5);
    background-image: linear-gradient(90deg,
        var(--red), var(--red),
        var(--orange), var(--orange),
        var(--yellow), var(--yellow),
        var(--green), var(--green),
        var(--blue), var(--blue),
        var(--purple), var(--purple)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
}

#chevron-checkbox:checked ~ .chevron-checkbox-label>.fa-heart {
    transform: scale(1000);
    opacity: 0;
}

/*-------------- Flags page ----------------*/

.container-flag-intro{
    margin: 0 auto;
}

.container{
    width: 100%;
}

.flex-box-flag{
    width: 90%; 
    height: 275px;
    margin-bottom: 25px;
}

/*Card flitp adapted from: https://3dtransforms.desandro.com/card-flip*/

.card-container{
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
    transform-style: preserve-3d;
    position: relative;
}

.card-container:hover, .card-container:active{
    transform: scale(.97);
    transition: transform 2s;
}

.card-container.is-flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-back{
    overflow-y: auto;
    transform: rotateY(180deg);
}

.figure-flag{
    max-height: 200px;
    max-width: 350px;
    margin: 0 auto;
}

.image-flag{
    display: inherit;
}

/*-------------------- Support page ---------------------------*/

.about-bg-img{
    background-image: url("/static/images/support_about.jpg");
    background-color: #cccccc; 
    min-height: 350px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.btn-support{
    height: 55px;
}

.btn-support:hover{
    transform: scale(1.03);
    transition: transform 1.5s;
    background-color: var(--orange);
}

/* flickity small rounded square buttons*/
/*https://flickity.metafizzy.co/style.html*/
.p-advocate{
    margin-bottom: 25px;
}
.carousel-cell {
    width: 98%;
}

.flickity-prev-next-button {
    width: 33px;
    height: 33px;
    border-radius: 5px;
    background: var(--p1-light);
}

.flickity-prev-next-button:hover {
    background: var(--orange);
}

/* position outside */
.flickity-prev-next-button.previous {
    left: 0px;
    top: -25px;
}

.flickity-prev-next-button.next {
    right: 10px;
    top: -25px;
}

.img-advocates{
    overflow: hidden;
    max-height: 175px;
    object-fit: cover;
}

/* Media Queries */

@media (min-width: 768px) {
    .landing-container h1 {
        letter-spacing: 0.6ch;
        padding-left: 0.6ch;
    }

    .flex-box-flag{
        width: 45%; 
        height: 300px;
    }
    /*-----------------------carousel-----------------------------*/
    .p-advocate{
        margin-bottom: 0px;
    }

    .carousel{
        padding-left: 25px;
    }
    .carousel-cell {
        width: 47.25%;
        height: auto;
    }
    .flickity-prev-next-button.previous {
        left: -15px;
        top: 45%;
    }

    .flickity-prev-next-button.next {
        right: -15px;
        top: 45%;
    }Ï

    .img-advocates {
        height: 225px;
    }
}

@media (min-width: 1024px) {
    .landing-container h1 {
        letter-spacing: 1.2ch;
        padding-left: 1.2ch;
    }

    .flex-box-flag{
        width: 30%; 
    }

    .content-container{
        margin-left: 15px;
    }
    
    /*-----------------------carousel-----------------------------*/
    .carousel{
        padding-left: 0px;
    }
    .carousel-cell {
        width: 31.35%;
    }
    
    .flickity-prev-next-button.previous {
        left: -45px;
    }  

    .flickity-prev-next-button.next {
        right: -45px;
    }
    
}

@media (min-width: 1216px) {
    .landing-container h1 {
        letter-spacing: 2ch;
        padding-left: 2ch;
    }
}