{% extends 'base.html' %}

{% block content %}

<p>Zamazenta come back, Rayquaza I choose you</p>

<p>Now use Dragon Tail.</p>

<p>Wait, you are not supposed to be here, this is pokemon gym battle, please go back and continue your thing.</p>

<img class="pokemon-image" src="{{ url_for('static', filename='images/rayquaza.png') }}" alt="rayquaza pokemon">
<img class="pokemon-image" src="{{ url_for('static', filename='images/megabeedrill.png') }}" alt="megabeedrill pokemon">
<img class="pokemon-image" src="{{ url_for('static', filename='images/zamazenta.png') }}" alt="Zamazenta pokemon">
<img class="pokemon-image" src="{{ url_for('static', filename='images/zacian.png') }}" alt="zacian pokemon">

{% endblock %}