{% extends 'base.html' %}

{% block content %}
    <div class="e500-container">
        <div class="my-4 p-5">
            <h1 class="has-text-centered title is-1">Internal Server Error - 500</h1>
            <div>
                <p class="has-text-right subtitle is-4 pr-6 text-p1-light">Well, this isn't right. <br> Sorry, it's not you, it's me. Click on our logo to check out our site!</p>
            </div>
        </div>
        <div class="error-500 has-text-centered">
            <img src="{{ url_for('static', filename='images/500-page-tinypng.png') }}" alt="Irishbecky's Easter Egg">
        </div>
    </div>
{% endblock %}