{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card my-4 p-5">
            <h1 class="has-text-centered title is-2 is-spaced">Accessibility Statement</h1>
            <div class="subtitle-negative-margin p-5">
                <p class="has-text-centered subtitle is-6 is-spaced">Over The Rainbow, (and associated such as OTR), is committed to facilitating the accessibility and usability of its Web site, https://www.overtherainbow.com,
                    for all people with disabilities. Over The Rainbow has implemented and will continue to implement the relevant portions
                    of the World Wide Web Consortium’s Web Content Accessibility Guidelines 2.1 Level AA (WCAG 2.1 AA) or higher as its web accessibility standard.</p>
                <p class="has-text-centered subtitle is-6 is-spaced">Please be aware that our efforts are ongoing. If at any time you have specific questions or concerns about the accessibility
                    of any web page on https://www.overtherainbow.com, please contact us at info@overtherainbow.com. If you do encounter
                    an accessibility issue, please be sure to specify the web page in your email, and we will make all reasonable efforts to make that page accessible for you.</p>
            </div>
        </div>
        
        <div class="has-text-centered is-5by4">
            <img src="/static/images/Logo1-tinypng.png" alt="OTR Logo">
        </div>
    </div>
{% endblock %}
